
<!--<div class="jumbotron text-center jumbotronProfile">-->
<div class="container containerTopProfile">
     <div class="col-xs-12 col-md-6 form-style-top-div">
          <img src="{{user.pic}}" height="75px" width="75px" class="profileImage">
          <h1 class="profileName">{{user.firstName}} {{user.lastName}} <a class="btn btn-success modalButton" href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i> Add Space</a></h1>
     </div>
</div>
<div class="container">
     <div class="row">
     <div class="col-xs-12 col-md-6">
          <h3 class="profileLeftTitle">Spaces You Are Advertising</h3>
          {{#each user.space}}
               <div class="well form-style-8">
                    <img src="{{this.space_photo}}" height="200px" width="200px" class="spaceImageProfile">
                    <p class="descriptionAll"><span class="descriptionFirst">Address: </span><a href="space/{{this.space_id}}">{{this.space_address}}</a></p>
                    <p class="descriptionAll"><span class="descriptionFirst">City: </span>{{this.space_city}}</p>
                    <p class="descriptionAll"><span class="descriptionFirst">State: </span>{{this.space_state}}</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Zip: </span>{{this.space_zipcode}}</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Description: </span>{{this.space_description}}</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Price: </span>${{this.space_price}}</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Available From: </span>{{this.space_from}}</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Available Until: </span>{{this.space_to}}</p>
               </div>
          {{/each}}
     </div>


<!-- Dummy Spaces You Have Rented -->

     <div class="col-xs-12 col-md-6">
          <h3 class="profileLeftTitle">Spaces You Have Reserved</h3>
               <div class="well form-style-8">
                    <img src="http://i67.tinypic.com/2u8h2tt.jpg" height="200px" width="200px" class="spaceImageProfile">
                    <p class="descriptionAll"><span class="descriptionFirst">Address: </span><a href="space/{{this.space_id}}">8910 Lamar Lane</a></p>
                    <p class="descriptionAll"><span class="descriptionFirst">City: </span>Austin</p>
                    <p class="descriptionAll"><span class="descriptionFirst">State: </span>TX</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Zip: </span>78740</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Description: </span>This is a classy garage available now.</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Price: </span>$400</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Available From: </span>Nov 20 2016</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Available Until: </span>Dec 10 2018</p>
               </div>
               <div class="well form-style-8">
                    <img src="http://i64.tinypic.com/wj9bg5.jpg" height="200px" width="200px" class="spaceImageProfile">
                    <p class="descriptionAll"><span class="descriptionFirst">Address: </span><a href="space/{{this.space_id}}">5724 South Congress Avenue</a></p>
                    <p class="descriptionAll"><span class="descriptionFirst">City: </span>Austin</p>
                    <p class="descriptionAll"><span class="descriptionFirst">State: </span>TX</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Zip: </span>78738</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Description: </span>This is the best garage in Austin, look at my reviews, they are the greatest reviews, which is to be expected from the greatest garage in Austin.</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Price: </span>$2000</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Available From: </span>Mar 10 2016</p>
                    <p class="descriptionAll"><span class="descriptionFirst">Available Until: </span>Mar 20 2017</p>
               </div>

     </div>
</div>


<!-- End Dummy Spaces You Have Rented -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
<!-- Modal content-->
   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Add a space below.</h4>
      </div>
      <div class="modal-body">
           <form class="form form-style-8" action="spaces/create" method="POST">
             <div class="form-group">
               <label><h4>Address</h4></label>
               <input type="text" name="address" class="form-control" required>
             </div>
             <div class="form-group">
             	<label><h4>City</h4></label>
             	<input type="text" name="city" class="form-control" required>
           	</div>
             <div class="form-group">
             	<label><h4>State</h4></label>
             	<input type="text" name="state" class="form-control" required>
           	</div>
             <div class="form-group">
             	<label><h4>Zipcode</h4></label>
             	<input type="text" name="zipcode" class="form-control" required>
           	</div>
           	<div class="form-group">
           		<label><h4>Type</h4></label>
           		<select name="type" class="form-control">
           			<option>Garage</option>
           			<option>Shed</option>
           			<option>Warehouse</option>
           			<option>Closet</option>
           			<option>Basement</option>
           			<option>Attic</option>
           		</select>
           	</div>
             <div class="form-group">
               <label><h4>Description</h4></label>
               <textarea name="description" class="form-control" rows="8" placeholder="Please give a brief description"></textarea>
             </div>
             <div class="form-group">
             	<label><h4>Price</h4></label>
             	<input name="price" class="form-control" type="number">
             </div>
             <div class="form-group">
             	<label><h4>FROM</h4></label>
             	<input name="from" class="form-control" type="date">
             </div>
             <div class="form-group">
             	<label><h4>TO</h4></label>
             	<input name="to" class="form-control" type="date">
             </div>
             <div class="form-group">
             	<label><h4>Picture</h4></label>
             	<input name="photo" class="form-control" type="url">
             </div>
             <button class="btn btn-success addSpaceButton" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add Space</button>
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
   </div>
  </div>
</div>
<!-- End Modal -->
</div>
