<div class="jumbotron text-center">
	<img src="{{user.pic}}" height="75px" width="75px">
	<h1>name: {{user.name}}</h1>
	{{#each user.space}}
		<div class="well">
			<img src="{{this.space_photo}}" height="100px" width="100px">
			<a href="spaces/{{this.space_id}}">{{this.space_address}}</a>
			<p>{{this.space_city}}</p>
			<p>{{this.space_state}}</p>
			<p>{{this.space_zipcode}}</p>
			<p>{{this.space_description}}</p>
			<p>${{this.space_price}}</p>
			<p>{{this.space_to}}</p>
			<p>{{this.space_from}}</p>
		</div>
	{{/each}}
</div>
<form class="form" action="spaces/create" method="POST">
  <div class="form-group">
    <label><h4>Address</h4></label>
    <input type="text" name="address" class="form-control" required>
  </div>
  <div class="form-group">
  	<label><h4>City</h4></label>
  	<input type="text" name="city" class="form-control" required>
	</div>
  <div class="form-group">
  	<label><h4>State</h4></label>
  	<input type="text" name="state" class="form-control" required>
	</div>
  <div class="form-group">
  	<label><h4>Zipcode</h4></label>
  	<input type="text" name="zipcode" class="form-control" required>
	</div>
  <div class="form-group">
    <label><h4>Description</h4></label>
    <input name="description" class="form-control" type="textbox">
  </div>
  <div class="form-group">
  	<label><h4>Price</h4></label>
  	<input name="price" class="form-control" type="number">
  </div>
  <div class="form-group">
  	<label><h4>TO</h4></label>
  	<input name="to" class="form-control" type="date">
  </div>
  <div class="form-group">
  	<label><h4>FROM</h4></label>
  	<input name="from" class="form-control" type="date">
  </div>
  <div class="form-group">
  	<label><h4>Picture</h4></label>
  	<input name="photo" class="form-control" type="url">
  </div>
  <button class="btn btn-success" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>Add Space</button>
</form>