<div class="text-center spaceTitle">
	<h1 style="margin-top: 70px">{{user.space.address}} {{user.space.city}}, {{user.space.state}}</h1>
</div>
<div class="container">
	<div class="col-xs-12 col-md-6 col-md-offset-3 form-style-9">
			<img src="{{user.space.photo}}" height="225px" width="225px" class="spaceImageProfileDetail">
	  <p class="descriptionAll"><span class="descriptionFirst">Address: </span><a href="space/{{user.space.id}}">{{user.space.address}}</a></p>
	  <p class="descriptionAll"><span class="descriptionFirst">City: </span>{{user.space.city}}</p>
	  <p class="descriptionAll"><span class="descriptionFirst">State: </span>{{user.space.state}}</p>
	  <p class="descriptionAll"><span class="descriptionFirst">Zip: </span>{{user.space.zipcode}}</p>
	  <p class="descriptionAll"><span class="descriptionFirst">Description: </span>{{user.space.description}}</p>
	  <p class="descriptionAll"><span class="descriptionFirst">Price: </span>${{user.space.price}}</p>
	  <p class="descriptionAll"><span class="descriptionFirst">Available From: </span>{{user.space.from}}</p>
	  <p class="descriptionAll"><span class="descriptionFirst">Available Until: </span>{{user.space.to}}</p>
  	<form action="spaces/delete/{{user.space.id}}?_method=DELETE" method="POST">
			<button class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> Buy</button>
		</form>
	</div>
</div>
