
<div class="container-fluid">
     <div class="row" id="searchContainer">
          <div class="col-md-12">
               <form action="/spaces/search/" method="GET" class="form-inline">
                    <input type="text" name="city" placeholder="Enter a City" class="form-control">
                    <button class="btn btn-success" type="submit">Search</button>
               </form>
          </div>
     </div>
</div>

<div class="container-fluid results">
	<div class="row">
		<div class="col-md-4 col-sm-5" id="searchList">
			{{#if user}}
				{{#each user.space}}
					<div class="searchResult">
						<img src="{{this.photo}}" height="150px" width="150px" class="spacePic">
						<p class="descriptionAll1"><span class="descriptionFirst">Address: </span><a href="space/{{this.id}}" > {{this.address}}</a></p>
						<p class="descriptionAll1"><span class="descriptionFirst">City: </span>{{this.city}}, {{this.state}}</p>
						<p class="descriptionAll1"><span class="descriptionFirst">Zip: </span>{{this.zipcode}}</p>
						<p class="descriptionAll1"><span class="descriptionFirst">Cost: </span>${{this.price}} / month</p>
						<p class="descriptionAll1"><span class="descriptionFirst">Available From: </span> {{this.from}}</p>
                              <p class="descriptionAll1"><span class="descriptionFirst">Available Until: </span> {{this.to}}</p>

					</div>
				{{/each}}
			{{else}}
				{{#each space}}
					<div class="searchResult result">
						<img src="{{this.photo}}" height="150px" width="150px" class="spacePic">
						<h5>{{this.type}}</h5>
						<a href="space/{{this.id}}"> <h5>Address: {{this.address}}</h5></a>
						<h5>{{this.city}}, {{this.state}}</h5>
						<h5>{{this.zipcode}}</h5>
						<h5>${{this.price}} / month</h5>
						<h5>Available from <strong>{{this.from}}</strong> until <strong>{{this.to}}</strong></h5>
					</div>
				{{/each}}
			{{/if}}
		</div>
		<div class="col-md-8 col-sm-7 gmap">
			<div class="form-style-8" id="map"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
var map;
var geocoder;

function createMap(lat, lng){
	if(lat == undefined || lng == undefined){
		lat = 30.2672;
		lng = -97.7431;
	}
	map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: lat, lng: lng},
		zoom: 11
	});

	geocoder = new google.maps.Geocoder();

	{{#if user}}
		{{#each user.space}}
			var address = "{{this.address}}";
			geocoder.geocode({'address': address}, function(results, status){
				if(status == 'OK'){
					var markerInfo = '<div class="markerInfo" style="width: 200px, height:200px">' +
					'{{this.type}}<br>{{this.address}}<br>${{this.price}} / month' +
					'<br><a href="/space/{{this.id}}">Details</a>';

					var markerTitle = "{{this.id}}";

					var label = "{{this.type}}".substring(0, 1);

					var infoWindow = new google.maps.InfoWindow({
						content: markerInfo
					});

					var label = "{{this.type}}".substring(0, 1);

					var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location,
						label: label,
						title: markerTitle
					});

					marker.addListener('click', function(){
						infoWindow.open(map, marker);
					});
				}
			});
		{{/each}}
	{{else}}
		{{#each space}}
			var address = "{{this.address}}";
			geocoder.geocode({'address': address}, function(results, status){
				if(status == 'OK'){
					var markerInfo = '<div class="markerInfo" style="width: 200px, height:200px">' +
						'{{this.type}}<br>{{this.address}}<br>${{this.price}} / month' +
						'<br><a href="/space/{{this.id}}">Details</a>';

					var markerTitle = "{{this.id}}";

					var infoWindow = new google.maps.InfoWindow({
						content: markerInfo
					});

					var label = "{{this.type}}".substring(0, 1);

					var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location,
						label: label,
						title: markerTitle
					});

					marker.addListener('click', function(){
						infoWindow.open(map, marker);
					});
				}
			});
		{{/each}}
	{{/if}}
}

function initMap(){

	var defaultLat;
	var defaultLng;

	var geoSuccess = function(position){
		defaultLat = position.coords.latitude;
		defaultLng = position.coords.longitude;
		createMap(defaultLat, defaultLng);
	};

	var geoError = function(error){
		console.log("Error occurred. Error code: " + error.code);
	};

	navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJYlT151x978VdI9hNduUpuHR8rejvxdw&callback=initMap"></script>
